@model IEnumerable<Maido.Models.Mesa>

@{
    ViewData["Title"] = "Mantenimiento de Mesas";
}

<h1>Mantenimiento de Mesas</h1>

<p>
    <a class="btn btn-primary" asp-action="MesaCreate">Nueva Mesa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activa)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(model => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(model => item.Activa)
                <label>@(item.Activa ? "Sí" : "No")</label>
            </td>
            <td>
                    <a class="btn btn-outline-secondary" asp-action="UsuarioEditar" asp-route-id="@item.Id">Editar</a>
                    @if (item.Activa == true)
                    {
                        <a class="btn btn-outline-danger" asp-action="UsuarioDesactivar" asp-route-id="@item.Id">Desactivar</a>
                    }
                    else
                    {
                        <a class="btn btn-outline-success" asp-action="UsuarioActivar" asp-route-id="@item.Id">Activar</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
