@model IEnumerable<Maido.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Usuarios</h1>

<p>
    <a class="btn btn-primary" asp-action="UsuarioCreate">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(model => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(model => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(model => item.Contrasena)
            </td>
            <td>
                @Html.DisplayFor(model => item.Activo)
                    <label>@(
                            item.Activo == true ? "Activo" : "Inactivo"
                            )</label>
                </td>
            <td>
                @Html.DisplayFor(model => item.FechaCreacion)
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-action="UsuarioEditar" asp-route-id="@item.Id">Editar</a> 
                    @if (item.Activo == true)
                    {
                        <a class="btn btn-outline-danger" asp-action="UsuarioDesactivar" asp-route-id="@item.Id">Desactivar</a>
                    }
                    else
                    {
                        <a class="btn btn-outline-success" asp-action="UsuarioActivar" asp-route-id="@item.Id">Activar</a>
                    }

            </td>
        </tr>
}
    </tbody>
</table>
